body {
    background-color: #555;
    color: ghostwhite;
}

.input_container {
    display: inline;
}

li {
    list-style-type: none;
    width: fit-content;
}

li:hover, li.checked:hover {
    color: blueviolet;
}

li.checked {
    color: red;
    text-decoration: line-through;
}

.delete_button {
    margin-left: .5em;
}

.delete_button:hover {
    color: red;
    background-color: grey;
}